.user-profile-container {
    width: 100%;
  }
  
  .bg-green-200 {
    width: 100%;
  }
  
  .flex {
    display: flex;
    justify-content: center;
  }
  
  .space-x-8 > * + * {
    margin-left: 2rem;
  }

  .text-green-800.font-bold {
    color: #22543d; /* Une couleur plus foncée pour indiquer que le lien est actif */
    font-weight: bold;
  }
  a:hover{
    text-decoration: none;
    color: #22543d;
  }
  