<div class="container mx-auto px-6 py-12">
  <h1 class="text-3xl font-bold text-center text-[#388E3C] mb-8">Mentions Légales</h1>
  
  <section class="mb-12">
    <h2 class="text-2xl font-semibold text-gray-800 mb-4">1. Éditeur du site</h2>
    <p class="text-gray-600 leading-relaxed">
      Ce site est édité par la société Thé Tip Top, SA au capital social de 150 000€, dont le siège social est situé au 18 rue Léon Frot, 75011 Paris, France.
    </p>
  </section>
  
  <section class="mb-12">
    <h2 class="text-2xl font-semibold text-gray-800 mb-4">2. Directeur de la publication</h2>
    <p class="text-gray-600 leading-relaxed">
      Le directeur de la publication est Monsieur Eric Bourdon, en sa qualité de Gérant.
    </p>
  </section>
  
  <section class="mb-12">
    <h2 class="text-2xl font-semibold text-gray-800 mb-4">3. Hébergement</h2>
    <p class="text-gray-600 leading-relaxed">
      Le site est hébergé par la société OVH, 2 rue Kellermann, 59100 Roubaix, France.
    </p>
  </section>
  
  <section class="mb-12">
    <h2 class="text-2xl font-semibold text-gray-800 mb-4">4. Propriété intellectuelle</h2>
    <p class="text-gray-600 leading-relaxed">
      Tous les éléments du site <a href="https://dsp5-archi-o22a-4-5-g6.fr/">ThéTipTop</a>, qu'ils soient visuels ou sonores, sont protégés par le droit d'auteur, des marques ou des brevets. Ils sont la propriété exclusive de la société Thé Tip Top.
    </p>
  </section>
  
  <section class="mb-12">
    <h2 class="text-2xl font-semibold text-gray-800 mb-4">5. Données personnelles</h2>
    <p class="text-gray-600 leading-relaxed">
      Conformément à la loi Informatique et Libertés du 6 janvier 1978, vous disposez d'un droit d'accès, de rectification, de modification et de suppression des données qui vous concernent.
    </p>
  </section>
  
  <section class="mb-12">
    <h2 class="text-2xl font-semibold text-gray-800 mb-4">6. Projet étudiant fictif</h2>
    <p class="text-gray-600 leading-relaxed">
      Ce site internet est un projet étudiant fictif. Aucune réelle transaction, achat ou réservation ne peut être effectuée sur ce site. Les informations présentées sont uniquement dans un but pédagogique et ne doivent pas être considérées comme étant réelles ou valides pour des transactions commerciales.
    </p>
  </section>

  <div class="text-center">
    <a href="/home" class="text-[#388E3C] hover:underline">Retour à l'accueil</a>
  </div>
</div>
