/* Section principale avec fond rayonné */
.background-spiral {
  margin-top: 90px;
  background: conic-gradient(from 180deg at 50% 50%, #4CAF50 0deg, #1B5E20 45deg, #4CAF50 90deg, #1B5E20 135deg, #4CAF50 180deg, #1B5E20 225deg, #4CAF50 270deg, #1B5E20 315deg, #4CAF50 360deg);
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Ribbon (bandeau) */
.ribbon {
  position: absolute;
  top: 205px;
  left: 0px;
  background-color: #e74c3c;
  color: white;
  padding: 10px 20px;
  transform: rotate(-18deg);
  font-weight: bold;
  z-index: 10;
}

/* Styles pour les étapes */
.steps-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.step {
  position: relative;
  width: 30%;
  margin-bottom: 30px;
}

.step-box {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  border: 2px solid #ddd;
}

.step-number {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #333;
  color: white;
  padding: 10px;
  font-size: 18px;
  border-radius: 50%;
}

/* Styles pour le bouton "Commencer" */
.start-button {
  position: relative;
  background-color: #4CAF50;
  color: white;
  padding: 15px 30px;
  font-size: 1.25rem;
  text-decoration: none;
  border-radius: 8px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.start-button:hover {
  background-color: #45a049;
}
