<app-user-profile-header></app-user-profile-header>
<div class="max-w-3xl mx-auto bg-white p-4 rounded-lg shadow-lg">
  <div class="mb-4">
    <input 
      type="text" 
      placeholder="Rechercher par numéro de ticket ou nom de lot..." 
      [(ngModel)]="searchTerm" 
      class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#388E3C] text-sm sm:text-base"
    >
  </div>

  <div class="overflow-x-auto">
    <table class="table-auto w-full mb-4 border-collapse text-xs sm:text-sm md:text-base">
      <thead>
        <tr>
          <th class="px-4 py-2 bg-[#D9EAD3] text-[#388E3C] border">Numéro Ticket</th>
          <th class="px-4 py-2 bg-[#D9EAD3] text-[#388E3C] border">Nom du Lot</th>
          <th class="px-4 py-2 bg-[#D9EAD3] text-[#388E3C] border">Valeur du Lot (€)</th>
          <th class="px-4 py-2 bg-[#D9EAD3] text-[#388E3C] border">Statut</th>
          <th class="px-4 py-2 bg-[#D9EAD3] text-[#388E3C] border">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of filteredTickets()">
          <td class="border px-4 py-2 text-center">{{ ticket.code }}</td>
          <td class="border px-4 py-2 text-center">{{ ticket.prize_name }}</td>
          <td class="border px-4 py-2 text-center">{{ ticket.prize_value }} €</td>
          <td class="border px-4 py-2 text-center">{{ ticket.isClaimed ? 'Retiré' : 'Non Retiré' }}</td>
          <td class="border px-4 py-2 text-center">
            <div class="flex flex-col sm:flex-row justify-center space-y-2 sm:space-y-0 sm:space-x-2">
              <button (click)="printTicket(ticket)" class="bg-[#D9EAD3] text-black font-bold py-1 px-3 rounded-lg hover:bg-[#388E3C] focus:outline-none focus:ring-2 focus:ring-[#388E3C] focus:ring-opacity-50 shadow-md text-xs sm:text-sm">
                Imprimer
              </button>
              <button (click)="downloadTicket(ticket)" class="border-2 border-[#D9EAD3] text-[#000000] font-bold py-1 px-3 rounded-lg hover:bg-[#D9EAD3] focus:outline-none focus:ring-2 focus:ring-[#388E3C] focus:ring-opacity-50 shadow-md text-xs sm:text-sm">
                Télécharger
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="flex justify-end space-x-4 mt-4">
      <button (click)="downloadTicketsAsExcel()" class="bg-[#D9EAD3] text-black font-bold py-2 px-4 rounded-lg hover:bg-[#388E3C] focus:outline-none focus:ring-2 focus:ring-[#388E3C] focus:ring-opacity-50 shadow-md text-xs sm:text-sm">
        Exporter en Excel
      </button>
    </div>
  </div>
</div>
